{% extends 'base.html' %}
{% load static %}
{% load basket_tags %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-3 white-background-85 rounded">
    <div class="row">
        <!-- https://getbootstrap.com/docs/4.5/examples/checkout/ -->
        <div class="col-12 col-md-6 order-md-2 my-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">Order Summary</h4>
            <ul class="list-group mb-3">
                {% for item in basket_items %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{ item.product.name }}</h6>
                        {% if item.product.has_sizes %}
                        <small class="text-muted">Size: {{ item.size|upper }} | </small>
                        {% endif %}
                        <small class="text-muted">Qty: {{ item.quantity }}</small>
                    </div>
                    <span class="text-muted">£{{ item.product.price|floatformat:2 }}</span>
                </li>
                {% endfor %}
            </ul>
            <div class="row text-black text-right">
                <div class="col-7 offset-2">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">P&P:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-3">
                    <p class="my-0">£{{ total | floatformat:2 }}</p>
                    <p class="my-0">
                        £{{ postage|floatformat:2 }}
                    </p>
                    <p class="my-0"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <h4 class="d-flex mb-3">Checkout</h4>
            <p>Fill out the form to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ order_form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ order_form.last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 rounded mb-3">
                        {{ order_form.email|as_crispy_field }}
                        {{ order_form.mobile_number|as_crispy_field }}
                    </div>
                    <div class="col-12 rounded">
                        <p class="small text-danger">
                            <span>We currently only deliver to <strong>mainland UK</strong> (England, Scotland and
                                Wales).</span>
                            <span>International shipping is coming shortly. Thank you for your patience.</span>
                        </p>
                        {{ order_form.house_name | as_crispy_field }}
                        {{ order_form.street_line1 | as_crispy_field }}
                        {{ order_form.street_line2 | as_crispy_field }}
                        {{ order_form.town_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if user.is_authenticated %}
                        <label for="id-save-info">Save this delivery information to my profile</label>
                        <input type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                        <label for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a>
                            or
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save your details
                        </label>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Stripe element -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Display form errors-->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </div>
                </div>
                <div class="submit-button row text-right mt-3 mb-2">
                    <div class="col">
                        <a href="{% url 'shopping_basket' %}" class="btn rounded">
                            <span">Modify basket</span>
                        </a>
                        <button id="submit-button" class="btn btn-dark rounded">
                            <span>Complete Order</span>
                        </button>
                        <p class="small text-danger mt-1">
                            <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}