{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-3 white-background-85 rounded">
    <div class="row">
        <div class="col-12 col-md-6">
            <h4 class="d-flex justify-content-between align-items-center my-3">Thank you!</h4>
            <p class="my-0 fs-1em">Your order reference is <strong>{{ order.order_ref }}</strong>. Please keep a record
                of this
                information.</p>
            <br>
            <p class="my-0">A confirmation containing your order details was sent to <strong>{{ order.email }}</strong>.
            </p>
            <br>
        </div>
        <!-- https://getbootstrap.com/docs/4.5/examples/checkout/ -->
        <div class="col-12 col-md-6 my-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">Order Summary</h4>
            <ul class="list-group mb-3">
                {% for item in order.lineitems.all %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{ item.product.name }}</h6>
                        {% if item.product.has_sizes %}
                        <small class="text-muted">Size: {{ item.size | upper }} | </small>
                        {% endif %}
                        <small class="text-muted">Qty: {{ item.quantity }}</small>
                    </div>
                    <span class="text-muted">£{{ item.product.price|floatformat:2 }}</span>
                </li>
                {% endfor %}
            </ul>
            <div class="row text-black text-right">
                <div class="col-7 offset-2">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">P&P:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-3">
                    <p class="my-0">£{{ order.order_total | floatformat:2 }}</p>
                    <p class="my-0">
                        £{{ order.postage_packaging|floatformat:2 }}
                    </p>
                    <p class="my-0"><strong>£{{ order.grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>
        <div>
            {% if from_profile %}
            <a href="{% url 'user' %}" class="btn btn-dark rounded mb-2" aria-label="Go back to your profile">
                <span class="text-uppercase">Back to Profile</span>
            </a>
            {% else %}
            <h6 class="mb-3">Want to support the scene even further? Sign up to our mailing list at the bottom of the
                page!</h6>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}