html {
    height: 100;
}

body {
    background: url('/media/hero-image.webp') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    /* height: calc(100vh - 164px); */
}

.hero-text-container {
    width: 100vw;
    min-height: 100vh;
}

.header-title {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.header-two {
    background-color: rgba(255, 255, 255, 0.75);
}

footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
}

a {
    color: black;
}

a:hover {
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
}

header .navbar {
    width: 100%;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 0.55);
}

.support {
    color: white;
}

.fs-150 {
    font-size: 150%;
}

.fs-300 {
    font-size: 300%;
}

.fs-1em {
    font-size: 1em;
}

.btn-dark {
    background-color: rgba(0, 0, 0, 0.75);
}

.hero-text-container > .row {
    width: 100vw;
}

.navbar-collapse {
    z-index: 99999999;
}

.update-link, .remove-item {
    cursor: pointer;
}

/* ------------------------------------------------------ all_products */

.products-container {
    width: 85vw;
}

.products-container > .row {
    width: 100%;
}

.card.product-card {
    background-color: rgba(255, 255, 255, 0.85);
}

.white-background-85 {
    background-color: rgba(255, 255, 255, 0.85);
}

/* ------------------------------------------------------ basket */

.basket-container {
    background-color: rgba(255, 255, 255, 0.85);
}

/* ------------------------------------------------------ Checkout */

.other-details {
    width: 100%;
}

/* ------------------------------------------------------ Checkout */

.allauth-container {
    background-color: rgba(255, 255, 255, 0.85);
}

/* ------------------------------------------------------ Media queries */

@media only screen and (max-width: 480px) {
    .support {
        font-size: 1.5em;
    }
}