html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background: url('/media/hero-image.webp') no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* ------------------------------------------------------ Header */

.hero-text-container {
    min-height: 100vh;
}

header > .container-fluid {
    padding: 0;
}

.header-title {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    margin: 0;
}

.secondary-header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 8px 0px;
}

.secondary-header .nav-item {
    margin: 0 1.5em;
}

.header-title > .col > a {
    color: white;
}
.header-title > .col > a:hover {
    color: white;
}

a > h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.navbar-collapse {
    z-index: 99999999;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 0.55);
}

/* ------------------------------------------------------ Footer */

footer {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.85);
}

.footer-row {
    /* width: 100%; */
    padding-right: 0;
    margin-right: 0;
}

.footer-row > div {
    padding-right: 0;
}


/* ------------------------------------------------------ Mailchimp */

#mc_embed_signup {
    background: none;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: auto;
}

/* ------------------------------------------------------ General */

a {
    color: black;
}

a:hover {
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
}

.support {
    color: white;
}

.fs-150 {
    font-size: 150%;
}

.fs-300 {
    font-size: 300%;
}

.fs-1em {
    font-size: 1em;
}

.btn-dark {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.btn-dark > a {
    color: white;
}

.update-link, .remove-item {
    cursor: pointer;
}

/* ------------------------------------------------------ all_products */

.products-container {
    width: 85vw;
}

.card.product-card {
    background-color: rgba(255, 255, 255, 0.85);
}

.white-background-85 {
    background-color: rgba(255, 255, 255, 0.85);
}

.page-numbers {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    width: 68px;
}

.card-img {
    border-radius: 0.5rem;
}

/* ------------------------------------------------------ basket */

.basket-container {
    background-color: rgba(255, 255, 255, 0.85);
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

td > img {
    width: 150px;
}

/* ------------------------------------------------------ Checkout */

.stripe-style-input {
    width: 100%;
    margin-top: 0.5em;
}

/* ------------------------------------------------------ Checkout */

.allauth-container {
    background-color: rgba(255, 255, 255, 0.85);
}

/* ------------------------------------------------------ Testimonials */

.testimonials-container {
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.75);
}

.carousel-item {
    color: white;
}

.fa-star {
    color: #d4af37;
    font-size: 150%;
}

/* ------------------------------------------------------ Media queries */

@media only screen and (max-width: 480px) {
    .support {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 992px) {
    .search-container {
        /* margin-right: 1em; */
    }
}