footer {
    position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;
}

a {
    color: black;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
}