{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container my-3 white-background-85 rounded">
    <div>
        <h4 class="my-3">404 Error!</h4>
    </div>
    <div>
        <p class="mb-3">Unfortunately that URL was not found on our server. Double check the url and have another go!
        </p>
    </div>
    <a href="{% url 'home' %}" aria-label="Click to return to the homepage" class="btn btn-dark rounded mb-3">Back to Home</a>
</div>
{% endblock %}