{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- SEO -->
  <meta name="description" content="Stage Left Merch is a merchandise company for bands and artists">
  <meta name="keywords" content="bands, music, artist, song, guitar, bass, drums, merch, merchandise, CD, vinyl">
  <meta name="author" content="Kit Lavis">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Mailchimp -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 100%;}
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/cd67891a35.js" crossorigin="anonymous"></script>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Stage Left Merch</title>
</head>

<body>
  <!-- header -->
  <header>
    <div class="container-fluid text-center justify-content-center">
      <div class="row header-title py-3">
        <div class="col pr-0">
          <a href="{% url 'home' %}" alt="Click to return to the homepage" class="home-link">
            <h1>StageLeft.</h1>
          </a>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg secondary-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarToggle">
          <div class="row">
            <div class="col-lg-12 col-xl-8">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                  <a class="logo-font font-weight-bold nav-link text-black active" aria-current="page"
                    href="{% url 'products' %}" aria-label="View all products">All Products</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="logo-font font-weight-bold nav-link text-black" href="#" id="clothing-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Clothing
                  </a>
                  <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                    <a href="{% url 'products' %}?category=tees,hoodies,hats" class="dropdown-item">All Clothing</a>
                    <a href="{% url 'products' %}?category=tees" class="dropdown-item">T-Shirts</a>
                    <a href="{% url 'products' %}?category=hoodies" class="dropdown-item">Hoodies</a>
                    <a href="{% url 'products' %}?category=hats" class="dropdown-item">Hats</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="logo-font font-weight-bold nav-link text-black" href="#" id="music-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Music
                  </a>
                  <div class="dropdown-menu border-0" aria-labelledby="music-link">
                    <a href="{% url 'products' %}?category=vinyl,tapes,cds" class="dropdown-item">All Formats</a>
                    <a href="{% url 'products' %}?category=vinyl" class="dropdown-item">Vinyl</a>
                    <a href="{% url 'products' %}?category=tapes" class="dropdown-item">Tapes</a>
                    <a href="{% url 'products' %}?category=cds" class="dropdown-item">CDs</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="logo-font font-weight-bold nav-link text-black" href="#" id="misc-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Miscellaneous
                  </a>
                  <div class="dropdown-menu border-0" aria-labelledby="music-link">
                    <a href="{% url 'products' %}?category=bags,mugs" class="dropdown-item">All misc. items</a>
                    <a href="{% url 'products' %}?category=bags" class="dropdown-item">Bags</a>
                    <a href="{% url 'products' %}?category=mugs" class="dropdown-item">Mugs</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="logo-font font-weight-bold nav-link text-black" href="#" id="artists-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Artists
                  </a>
                  <div class="dropdown-menu border-0" aria-labelledby="artists-link">
                    <a href="{% url 'artists' %}" class="dropdown-item">All Artists</a>
                    {% for artist in all_artists %}
                    <a href="{% url 'products' %}?artist={{ artist.name }}"
                      class="dropdown-item">{{ artist.friendly_name }}</a>
                    {% endfor %}
                  </div>
                </li>
                <li class="nav-item">
                  <a class="logo-font font-weight-bold nav-link text-black" aria-current="page"
                    href="{% url 'testimonials' %}" aria-label="View testimonials">Testimonials</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-xl-2">
              <span class="user-dropdown">
                <a href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa-regular fa-user"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                  <a href="{% url 'user' %}" class="dropdown-item">Account Management</a>
                  {% if user.is_authenticated and user.is_superuser %}
                  <a href="{% url 'customer_messages' %}" class="dropdown-item">View Messages</a>
                  {% endif %}
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
                </div>
              </span>
              <a href="{% url 'shopping_basket' %}">
                <i class="fa-solid fa-basket-shopping"></i>
              </a>
              <p class="my-0">
                {% if grand_total %}
                £{{ grand_total|floatformat:2 }}
                {% else %}
                £0.00
                {% endif %}
              </p>
            </div>
            <div class='col-lg-6 col-xl-2 order-xl-first'>
              <form class="d-flex" method="GET" action="{% url 'products' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="s-query">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!-- Displays feedback messages -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}

  <footer class="footer">
    <div class="row footer-row">
      <div class="col-4 my-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{% url 'products' %}" class="nav-link p-0 text-muted"
              aria-label="View all products">All Products</a></li>
          <li class="nav-item mb-2"><a href="{% url 'products' %}?category=vinyl,tapes,cds"
              class="nav-link p-0 text-muted" aria-label="View all music on sale">Music</a></li>
        </ul>
      </div>
      <div class="col-4 my-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{% url 'artists' %}" class="nav-link p-0 text-muted"
              aria-label="View all the artists we work with">Artists</a></li>
          <li class="nav-item mb-2"><a href="{% url 'testimonials' %}" class="nav-link p-0 text-muted"
              aria-label="View testimonials from our collaborators">Testimonials</a></li>
      </div>
      <div class="col-4 my-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{% url 'contact' %}" class="nav-link p-0 text-muted"
              aria-label="Get in contact">Contact</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"
              aria-label="View our privacy policy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="row footer-row">
      <div class="col-12 col-lg-8">
        <div id="mc_embed_shell">
          <div id="mc_embed_signup">
            <form
              action="https://gmail.us18.list-manage.com/subscribe/post?u=4f250c1e2e96ce771400be030&amp;id=8307cbf145&amp;f_id=00d3b2e0f0"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank">
              <div id="mc_embed_signup_scroll">
                <h5>Subscribe to our mailing list!</h5>
                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                      class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email"
                    id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                </div>
                <div id="mce-responses" class="clear foot">
                  <div class="response" id="mce-error-response" style="display: none;"></div>
                  <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  <input type="text" name="b_4f250c1e2e96ce771400be030_8307cbf145" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                  <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                    <p style="margin: 0px auto;"><a href="http://eepurl.com/iK5lB6"
                        title="Mailchimp - email marketing made easy and fun"><span
                          style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                            class="refferal_badge"
                            src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                            alt="Intuit Mailchimp"
                            style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 pr-0">
        <p>&copy; StageLeft Merchandise 2024</p>
      </div>
    </div>
  </footer>

  {% block postloadjs %}
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
  {% endblock %}
</body>

</html>