{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid products-container mt-3">
    <div class="row products-row justify-content-center">
        {% for product in p_products %}
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
            <div class="card product-card">
              <img class="card-img" src="{{ product.featured_image.url }}" alt="{{ product.name }}">
              <div class="card-body">
                <h4 class="card-title">{{ product.name }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">ID: {{ product.sku }}</h6>
                <div class="buy d-flex justify-content-between align-items-center">
                  <div class="price text-black"><h5 class="mt-4">£{{ product.price }}</h5></div>
                   <a href="{% url 'product_detail' product.slug %}" class="btn btn-dark mt-3"></i>More Info</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="row paginator-row my-3">
      <div class="col-4 offset-4">
        <div class="paginator-container text-center">
          {% if p_products.has_previous %}
          <button class="btn-dark"><a href="?page=1">First</a></button>
          <button class="btn-dark"><a href="?page={{ p_products.previous_page_number }}">Previous</a></button>
          {% endif %}
          <div class="page-numbers d-inline-block rounded">{{ p_products.number }} of {{ p_products.paginator.num_pages }}</div>
          {% if p_products.has_next %}
          <button class="btn-dark"><a href="?page={{ p_products.next_page_number }}">Next</a></button>
          <button class="btn-dark"><a href="?page={{ p_products.paginator.num_pages }}">Last</a></button>
          {% endif %}
        </div>
      </div>
    </div>
</div>
{% endblock %}