{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid products-container">
    <div class="card my-3">
        <div class="row">
            <div class="col-4">
                {% if 'placeholder' in product.featured_image.url %}
                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="Card image cap">
                {% else %}
                <img class="card-img-top" src="{{ product.featured_image.url }}" alt="Card image cap">
                {% endif %}
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: £{{ product.price }}</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Add to Basket</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}